<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".application.LawyaarApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lawyaar_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lawyaar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Lawyaar.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.OTPActivity"
            android:exported="true"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.auth.PhoneActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />
        <activity
            android:name=".ui.lawyaardetails.LawyaarDetailsActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.payment_screen.PaymentActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.wallet.WalletActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.book_slots.BookingSlotActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.profile.UpdateProfileActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.success_screen.SuccessActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />


        <activity
            android:name=".ui.intro_screen.IntroScreen"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.settings.SettingActivity"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <activity
            android:name=".ui.wallet.AddPointsInWallet"
            android:theme="@style/Theme.Lawyaar.NoActionBar" />

        <service
            android:name=".notification.CloudMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/appointment_notifications_channel_id" />
        </service>
    </application>
</manifest>